@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Test Exercise - MVC</h1>
    <h3>by Magnar Markvart</h3>
    <hr />
    <br />
    
    <a asp-area="Form" asp-controller="Form" asp-action="Index" class="btn btn-outline-dark">My Form</a>
    
</div>